In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv("supplement.csv")

In [13]:
df=data.copy(deep=True)
df1=data.copy(deep=True)

In [15]:
df.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
0,T1000001,1,S1,L3,R1,2018-01-01,1,Yes,9,7011.84
1,T1000002,253,S4,L2,R1,2018-01-01,1,Yes,60,51789.12
2,T1000003,252,S3,L2,R1,2018-01-01,1,Yes,42,36868.20
3,T1000004,251,S2,L3,R1,2018-01-01,1,Yes,23,19715.16
4,T1000005,250,S2,L3,R4,2018-01-01,1,Yes,62,45614.52

In [21]:
#label encoding

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Store_Type']=le.fit_transform(df['Store_Type'])
df['Discount']=le.fit_transform(df['Discount'])
df['Region_Code']=le.fit_transform(df['Region_Code'])
df['Location_Type']=le.fit_transform(df['Location_Type'])

In [22]:
df.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
0,T1000001,1,0,2,0,2018-01-01,1,1,9,7011.84
1,T1000002,253,3,1,0,2018-01-01,1,1,60,51789.12
2,T1000003,252,2,1,0,2018-01-01,1,1,42,36868.20
3,T1000004,251,1,2,0,2018-01-01,1,1,23,19715.16
4,T1000005,250,1,2,3,2018-01-01,1,1,62,45614.52

In [28]:
df.drop(['Date'],axis=1,inplace=True)

In [29]:
df.head()

,Store_id,Store_Type,Location_Type,Region_Code,Holiday,Discount,#Order,Sales
0,1,0,2,0,1,1,9,7011.84
1,253,3,1,0,1,1,60,51789.12
2,252,2,1,0,1,1,42,36868.20
3,251,1,2,0,1,1,23,19715.16
4,250,1,2,3,1,1,62,45614.52

In [30]:
x=df.drop(['Sales'],axis=1)
y=df['Sales']

In [33]:
#mlp
from sklearn.neural_network import MLPRegressor
mlp=MLPRegressor(hidden_layer_sizes=(10,5,1),max_iter=1000)
mlp.fit(x,y)

MLPRegressor(hidden_layer_sizes=(10, 5, 1), max_iter=1000)

In [34]:
#accuracy
from sklearn.metrics import r2_score
y_pred=mlp.predict(x)
r2_score(y,y_pred)

0.9238203809154099

In [39]:
#random forest
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=10,max_depth=10)
rf.fit(x,y)

RandomForestRegressor(max_depth=10, n_estimators=10)

In [40]:
#accuracy
y_pred=rf.predict(x)
r2_score(y,y_pred)

0.939381319556468

In [36]:
#xgboost
from xgboost import XGBRegressor
xgb=XGBRegressor(n_estimators=10,max_depth=10)
xgb.fit(x,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=10,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=10, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [37]:
#accuracy
from sklearn.metrics import r2_score
y_pred=xgb.predict(x)
r2_score(y,y_pred)

0.944179196169563